src/**
out/test/**
out/**.map
img/**
scripts/**
!img/logo.png
dev/*

tsconfig.json
eslint.config.mjs
.vscode-test.mjs

!file.ts
.github
.vscode
.gitignore

docs/**
workflows/**

pgsrc/**

TODO

.venv
site
misc
mkdocs.yml