name: Publish package
on:
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Setup repository
      uses: actions/checkout@v4
      
      # https://stackoverflow.com/a/73639034
    - name: Get package.json content
      run: |
        echo "PACKAGE_JSON=$(jq -c . < package.json)" >>$GITHUB_ENV
    - name: Check version
      run: |
        [[ "${{github.ref_name}}" && "${{ github.ref_name }}" == *"${{ fromJson(env.PACKAGE_JSON).version }}"* ]]
    
    - name: Setup NodeJS
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
        cache: 'npm'
    - name: Install vsce
      run: npm install '@vscode/vsce' --save-dev
    - name: Login VSCE
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
      run: vsce login ${{ secrets.VSCE_PUBLISHER }}
    - name: Verify publish access rights
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
      run: vsce verify-pat
    - name: Publish package
      run: npm run deploy

   
            

